# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
nose2-*.xml
coverage.xml
*.cover
*.py,cover

# IDEs and editors
.idea/
.vscode/

# dotenv
.env
.env.*

# virtualenv
venv/

# database
*.db
